@import '../../assets/scss/common/variable.scss';
@import '../../assets/scss/common/mixins.scss';

.breadcrumb {
    font-size: 12px;
    @include max(575px){
        margin-bottom: 5px;
    }
    .breadcrumb-link {
        font-size: 12px;
        text-decoration: none;
        font-weight: 400;
        color: #000;    
      }  
    .breadcrumb-label {
        font-size: 16px;
        font-weight: 700;
    } 
}
  
  