//default css input/select
input, select{
    border-radius: 10px;
    padding: 15px 30px 15px 20px;
    border: 1px solid rgba($grey, 0.5);
    width: 100%;
    background: $white-fb;
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-size: 13px;
        color: $grey;
    }
}
select{
    padding: 5px 10px;
    border-radius: 4px; 
    border: none;
    &:focus{
        box-shadow: 0 0 4px 1px $color-secondary;
    }
}
button{
    &:disabled {
        background-color: $grey;
        color: #fff;
        cursor: not-allowed;
        width: 100%;
      }
}

.form-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $black2;
    width: 100vw;
    height: 100vh;
}
.form-block{
    background: $white;
    border-radius: 10px;
    padding: 40px;
    @include max(575px){
        width: 90%;
        padding: 20px;
    }
    .title-h1{
        text-align: center;
        margin-bottom: 15px;
        font-size: 28px;
        @include max(575px){
            font-size: 25px;
        }
    }
    .form-desc{
        text-align: center;
        font-size: 17px;
        color:$grey;
        font-weight: 600;
        margin-bottom: 40px;
        @include max(575px){
            font-size: 15px;
        }
    }

    .form-content{
        margin: auto;
        .title-h2{
            margin-bottom: 26px;
            font-size: 24px;
            color: $color-primary;
        }
        .form-group{
            margin-bottom: 20px;
            &.form-submit{
                margin-bottom: 30px ;
            }
            &.form-forgot{
                text-align: center;
                font-size: 13px;
            }
        }
        
        label{
            font-size: 13px;
            display: block;
            font-weight: 600;
            margin-bottom: 8px;
            color: $grey;
            text-transform: uppercase;
            i{
                font-size: 12px;
                margin-right: 3px;
                &.icon-mail{
                    font-size: 9px;
                }
                &.icon-user{
                    font-size: 13px;
                }
            }
        }
        .label-bloc{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
            label{
                margin-bottom: 0;
            }
            .btn-link{
                font-size: 12px;
                color: $grey;
                font-weight: 600;
            }
        }
        input, select{
            &:focus{
                outline: none;
                box-shadow: 0 0 0 0.1rem rgba($color-primary, 0.25);
            }
        }
        .input-pass{
            position: relative;
            .icon{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                color: $grey;
            }
        }
        .btn-primary{
            width: 100%;
        }
        .text-signup{
            font-size: 12px;
            text-align: center;
            color: $grey;
            font-weight: 600;
            .btn-link{
                font-weight: 600;
            }
        }
    }
    &.form-signup{
        .logo-block{
            margin-bottom: 40px;
        }
    }
    .btn-back{
        font-size: 12px;
        text-align: right;
        display: block;
    }
}

