.list-block{
    margin-top: 30px;
    @include max(575px){
        overflow-x: auto;
        margin-top: 0;
    }
    .list-table{
        width: 100%;
        thead{
            th{
                border-bottom: 2px solid rgba($grey, 0.5);
                padding: 10px 20px;
                color: $grey;
                font-weight: 600;
                font-size: 13px;
                text-align: left;
                .p-column-title{
                    margin-right: 15px;
                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid rgba($grey, 0.5);
            }
            td{
                padding: 15px 20px;
                font-size: 13px;
                color: $grey-4A;
            }
        }
        .priority{
            padding: 5px 10px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 12px;
            color: $white;
            &.priority-high{
                background: $red-high;
            }
            &.priority-medium{
                background: $green-normal;
            }
            &.priority-low{
                background: $yellow-low;
            }
        }
    }
}
