//path font
$font-path: '../../fonts/Inter/';
$font-path-icon: '../../fonts/font-icon/';

//Color
$color-primary: #2196F3;
$color-secondary: #6FA4E6;
$default-bg:#f0f1f5;
$black: #333;
$white: white;
$grey: #E8E8E8;
$sucess: #00C853;
$grey-4A: #4A4A4A;
$red: #FF0000;
$red-dark: #D30E3F;

//Font-family
$font-family: Inter, Arial, sans-serif;