//path font
$font-path: '../../fonts/Inter/';
$font-path-icon: '../../fonts/font-icon/';

//Color
$color-primary: #3650FF;
$color-secondary: #6FA4E6;
$default-bg:#f0f1f5;
$white-fb:#FBFDFD;
$black: #333;
$black2: #36363E;
$white: white;
$grey: #B2B3C2;
$sucess: #00C853;
$grey-4A: #4A4A4A;
$red: #FF0000;
$red-dark: #D30E3F;

//Font-family
$font-family: Inter, Arial, sans-serif;

//transition
$transition-default: cubic-bezier(0.075, 0.82, 0.165, 1);